
.bottom_header{ 
    background: black !important;
}
.navbar-brand img{ 
    max-width: 150px !important;
}
/* hero section slideshow*/
.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 50% !important;
    bottom: 0;
    width: 40px !important;
    margin: 0 10px;
}

.banner_section.slide_medium, .banner_section.slide_medium .carousel-item, .banner_section.slide_medium .banner_content_wrap, .banner_section.slide_medium .banner_content_wrap .carousel-item, .banner_section.shop_el_slider, .banner_section.shop_el_slider .carousel-item, .banner_section.shop_el_slider .banner_content_wrap, .banner_section.shop_el_slider .banner_content_wrap .carousel-item {
    height: 500px;
}

