.top-header {
    padding: 5px 0 !important;
    transition: all 0.5s ease-in-out;
    background: #f7821f;
}
.header_list{
    margin: 0 !important;
}
.header_list span, i, a{
    color: white !important;
    text-decoration: none !important;
    cursor: pointer !important;
}
.bottom_header{ 
    background: black !important;
}
.navbar-brand img{ 
    max-width: 150px !important;
}
/* hero section slideshow*/
.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 50% !important;
    bottom: 0;
    width: 40px !important;
    margin: 0 10px;
}

.banner_section.slide_medium, .banner_section.slide_medium .carousel-item, .banner_section.slide_medium .banner_content_wrap, .banner_section.slide_medium .banner_content_wrap .carousel-item, .banner_section.shop_el_slider, .banner_section.shop_el_slider .carousel-item, .banner_section.shop_el_slider .banner_content_wrap, .banner_section.shop_el_slider .banner_content_wrap .carousel-item {
    height: 500px;
}

.map iframe {
    height: 360px !important;
    width: 100%;
    border: 0;
    display: block;
}